footer {
    height:7.5vh;
    text-align: center;
    background: $firstColor;
    color: $white;
    display:flex;
    align-items:center;
    a {
        color: $white;
        transition: 0.2s ease-in-out;
        &:hover {
            color: $thirdColor;
        }
    }
}

