html {
    scroll-behavior: smooth;
}

ul, li {
    list-style:none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: $headings;
}

p, a, input, button {
    font-family: $paragraphs;
}

.wrapper {
    width:80%;
    margin: 0 auto;

}

img {
    width: 100%;
}

a {
    color:$firstColor;
    text-decoration:none;
}