.hero {
    background: url("../assets/heroPlaceholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heroContent {
    background: rgba(255, 255, 255, 0.4);
}

.restaurantRecommendation {
    width: calc(100% / 3);
}

.restaurantRecommendation img {
    max-width: 100%;
}