.detailsContent {
  h2 {
    font-size: 2rem;
    
  }
  display: flex;
  flex-wrap: wrap;

  .detailSub {
    font-weight: 600;
  }
}

.restaurantDetails {
  width: 100%;

  h2 {
    text-align: center;
  }

  img {
    width: 100%;
  }
}


.bikeDetails {
  width: 100%;
}


.mapDetail {
  height:400px;
}