.searchResults {
    margin-top: 40px;
    h2 {
        text-align: center;
        margin: 20px 0;
    }
}

.resultsContainer {
    position: relative;
    .loadingOverlay {
        position: absolute;
        background: rgba($white,0.5);
        width: 100%;
        height: 100%;
        text-align: center;
        p {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            background: $white;
            padding: 20px;
            border-radius: 10px;
            border: 1px solid $black;
        }
    }
}

.searchResults ul {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    li {
        width:calc((100% / 3) - 40px);
        margin: 20px;
        overflow:hidden;
        background:white;
        border:1px solid $black;
        border-radius:10px;
    }
    li > img {
        height:200px;
        object-fit:cover;
    }
    .restaurantCardContent {
        padding: 10px;
    }
    .restaurantName a:hover {
        color:$thirdColor;
    }
    .yelpStarsAndLogo {
        display:flex;
        flex-wrap:wrap;
        align-items:flex-end;
    }
    .starRating {
        height:auto;
        width: 50%;
    }
    .yelpLogo {
        width: 50%;
        text-align:right;
    }
    .yelpLogo img {
        width: 80px;
    }
}