ul, li {
    list-style:none;
    padding: 0;
    margin: 0;
}

p, h2 {
    padding: 0;
    margin: 0;
}

.wrapper {
    width:80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.searchResults {
    padding: 20px 0;
    h2 {
        text-align: center;
    }
}

.searchResults ul {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    li {
        width:calc((100% / 3) - 40px);
        margin: 20px;
        border: 1px solid blue;
        overflow:hidden;
        background:white;
        border:1px solid black;
        border-radius:10px;
    }
    li > img {
        height:200px;
        object-fit:cover;
    }
    .restaurantCardContent {
        padding: 10px;
    }
    .yelpStarsAndLogo {
        display:flex;
        flex-wrap:wrap;
        align-items:flex-end;
    }
    .starRating {
        height:auto;
        width: 50%;
    }
    .yelpLogo {
        display:inline-block;
        width: 50%;
        text-align:right;
    }
    .yelpLogo img {
        width: 80px;
    }
}